.nested_comment {
    margin-left: 40px;
}

.arrow_wrapper {
    position: relative;
}

.arrow {
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 10px;
    font-size: 13px;
    color: grey;
}
