.webtoon_detail {
    display: flex;
    flex-direction: column;
}
.top {
    width: 100%;
    height: 100%;
    display: flex;
}

.webtoon_detail_main {
    flex: 1;
}

.main_title {
    flex: 1;
    background-color: var(--background-white);
    padding: 16px 20px;
    border-bottom: 1px solid var(--border-grey);
}

.main_title h3 {
    margin: 0;
    font-size: 16px;
}

.main_info {
    background-color: var(--background-white);
    padding: 20px 20px;
    border: 1px solid var(--border-grey);
}

.info_wrap {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.img_container {
    flex: 1;
}

.img_container img {
    object-fit: contain;
    background-color: var(--border-grey);
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.table_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
}
.table_container table {
    width: 50%;
    margin-bottom: 20px;
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.table_container th {
    width: 50%;
    text-align: left;
}

.table_container td {
    width: 50%;
}

.table_container .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.table_container .buttons button,
.table_container .buttons a {
    cursor: pointer;
    border: none;
    width: 50%;
    height: 32px;
    background-color: var(--google-blue);
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

#bookmarked {
    color: red;
}

.main_synopsis {
    border: 1px solid var(--border-grey);
    padding: 20px 12px;
    font-size: 12px;
}

.main_synopsis h3 {
    font-weight: bold;
}

.buttons button:hover {
    transition: filter 100ms;
    filter: brightness(0.95);
}

.buttons button:active {
    box-shadow: inset 0 0 10px #333;
}

/* Recommendation list */
.recommend {
    background-color: var(--background-white);
    padding: 16px 20px;
}

.recommend_list {
    padding: 16px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
    overflow: hidden;
}

/* aside */

.aside {
    border-left: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    overflow: hidden;
    max-width: 200px;
    padding: 16px 8px 0 8px;
    background-color: var(--background-white);
}

.update h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.update_img_container {
    border: 1px solid var(--border-grey);
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.update_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.update_title {
    font-size: 11px;
    max-width: 100px;
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.update_list {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.update ul {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.recommend h3 {
    margin: 0;
}

@media screen and (max-width: 860px) {
    .info_wrap {
        flex-direction: column;
        gap: 0;
    }
    .aside {
        display: none;
    }
    .recommend_list {
        grid-template-columns: repeat(4, 1fr);
    }

    .table_container .buttons,
    .table_container {
        align-items: center;
    }
    .table_container table,
    .table_container .buttons {
        width: 60%;
    }
    .table_container .buttons button,
    .table_container .buttons a {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .recommend_list {
        grid-template-columns: repeat(3, 1fr);
    }
    .table_container table,
    .table_container .buttons {
        width: 100%;
    }
}
