.filter {
    background-color: var(--background-white);
    width: 100%;
    padding: 8px;
    font-size: 12px;
}

.filter_container {
    background-color: var(--background-grey);
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
}

.filter_container > div {
    display: flex;
    align-items: center;
    word-break: keep-all;
    margin-bottom: 8px;
}

.filter_container > div > div {
    font-weight: bold;
    margin-right: 20px;
}

.filter_container div ul {
    display: flex;
    list-style: none;
    gap: 4px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.filter_container div ul li {
    padding: 3px 6px;
    background-color: var(--background-white);
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.filter_container div ul li:hover {
    filter: brightness(0.9);
}

#selected {
    background-color: var(--google-red);
    color: var(--background-white);
}

.filter_container .search {
    margin: 0 auto;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--google-blue);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.filter_container .search:hover {
    filter: brightness(0.9);
}

@media screen and (max-width: 860px) {
    .filter_container .search {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .filter_container .search {
        width: 100%;
    }
}
