.comment {
    position: relative;
    padding: 12px 20px 0 20px;
    margin-bottom: 8px;
    color: var(--text-black);
    border-top: 1px solid var(--border-grey);
}

.my_comment {
    color: var(--google-green);
}

.user_id {
    font-weight: bold;
    font-size: 13px;
}

.comment_content {
    width: 80%;
    font-size: 13px;
}

#deleted_comment {
    color: var(--text-grey);
}

#deleted_content:before {
    content: " \203B";
}

.created_at {
    margin-top: 4px;
    font-size: 10px;
    color: var(--text-grey);
}

.comment_more {
    cursor: pointer;
    border: none;
    position: absolute;
    padding: 0 8px 8px 8px;
    top: 14px;
    right: 20px;
    font-size: 12px;
    color: var(--text-grey);
    background: none;
}

.more {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16px;
    right: 40px;
    border: 1px solid var(--border-grey);
    background-color: var(--background-white);
    z-index: 1;
}

.more button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background: var(--background-white);
    padding: 4px 8px;
}

.more button:hover {
    transition: filter 100ms;
    filter: brightness(0.9);
}

.more :nth-child(2) {
    border-top: 1px solid var(--border-grey);
}

.comment_recommend {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.comment_recommend button {
    cursor: pointer;
    padding: 0 8px;
    font-size: 12px;
    background-color: var(--background-white);
    border: 1px solid var(--border-grey);
    margin: 0 4px;
}
.comment_recommend button:hover {
    transition: filter 100ms;
    filter: brightness(0.9);
}

.comment_recommend button:active {
    filter: brightness(0.8);
}
.comment_recommend button span {
    margin-left: 4px;
    color: var(--text-grey);
}

#comment_liked {
    color: red;
    pointer-events: none;
}
