.search {
    background-color: var(--background-white);
}

.search h3 {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.not_found {
    margin-top: 12px;
    text-align: center;
}

.webtoonList {
    width: 100%;
    background-color: var(--background-white);
    padding-bottom: 20px;
}

.webtoons {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
}

@media screen and (max-width: 860px) {
    .webtoons {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .webtoons {
        grid-template-columns: repeat(3, 1fr);
    }
}
