.webtoonList {
    width: 100%;
    background-color: var(--background-white);
    padding-bottom: 20px;
}

.webtoons {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
}

.webtoonList button {
    width: 20%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 860px) {
    .webtoons {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .webtoons {
        grid-template-columns: repeat(3, 1fr);
    }
}
