.HoverButton {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.show {
    display: flex;
    flex-direction: column;
}

.HoverButton button {
    transition: transform 200ms, background-color 200ms;
    margin: 2px 0 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.HoverButton button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.plus {
    transform: rotate(45deg);
}

.HoverButton .show {
    display: flex;
    flex-direction: column;
}

.hidden {
    background-color: red;
}
