.banner {
    width: 100%;
    background-color: var(--background-white);
    color: #ffffff;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100%;
    height: 140px;
    display: flex;
}

.container .left,
.container .right {
    border: none;
    background: none;
    padding: 4px;
    position: absolute;
    top: 66px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.left {
    left: 10px;
}
.right {
    right: 10px;
}

.banner_image {
    width: 100%;
    height: 100%;
}

.banner_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}
