.HoverButton {
    position: sticky;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.HoverButton > div {
    display: flex;
    flex-direction: column;
}

.HoverButton button {
    transition: all 0.3s ease;
    margin: 2px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.HoverButton > .plus {
    transform: rotate(45deg);
}

.HoverButton > .show {
    display: flex;
    flex-direction: column;
    display: none;
}
