.community {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.community h2 {
    width: 100%;
    background-color: var(--background-grey);
    border-top: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    font-size: 20px;
    padding: 12px;
    margin: 0 0 12px;
    font-weight: bold;
}

.category {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.category a {
    text-decoration: none;
    color: inherit;
}

.category_tab {
    text-align: center;
    list-style: none;
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid var(--border-grey);
    background-color: var(--background-white);
}
.category_tab:hover {
    filter: brightness(0.9);
}

.community table {
    margin: 12px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid var(--text-black);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.category #selected {
    background-color: var(--border-grey);
    font-weight: bold;
}

.community table thead {
    line-height: 48px;
    border-bottom: 1px solid var(--text-black);
}

.th_category {
    width: 200px;
}

.th_username {
    width: 200px;
}

.th_createdAt {
    width: 200px;
}

.th_viewCount,
.th_thumbUp {
    width: 60px;
}

.community table tbody tr {
    font-size: 11px;
    line-height: 28px;
    cursor: pointer;
    background-color: var(--background-white);
}

.community table #my_post {
    color: var(--google-green);
}

.community table tbody tr:hover {
    filter: brightness(0.9);
}

.community table tbody tr :nth-child(1),
.community table tbody tr :nth-child(2),
.community table tbody tr :nth-child(3) {
    font-size: 13px;
}

.community table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.community table tbody tr :nth-child(2) {
    text-align: left;
}

.page_buttons ul {
    list-style: none;
    display: flex;
}

.page_buttons ul li {
    cursor: pointer;
    padding: 6px 12px;
    background-color: var(--background-white);
    border: 1px solid var(--border-grey);
}

.page_buttons ul li:hover {
    filter: brightness(0.9);
}

.page_buttons #current_page {
    background-color: var(--border-grey);
}

.button {
    cursor: pointer;
    border: none;
    width: 82px;
    height: 32px;
    margin: 0 12px;
    border-radius: 4px;
    font-weight: bold;
    color: var(--background-white);
    background-color: var(--google-blue);
}
