.comment {
    position: relative;
    padding: 20px 20px 24px 20px;
}

.my_comment {
    background-color: rgb(239, 246, 255);
}

.user_id {
    font-weight: bold;
    font-size: 13px;
}

.comment_content {
    font-size: 13px;
}

.created_at {
    margin-top: 4px;
    font-size: 10px;
    color: #999;
}

.comment_more {
    position: absolute;
    padding: 0 8px 8px 8px;
    top: 10px;
    right: 20px;
    font-size: 12px;
    color: grey;
    background: none;
}

.more {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 40px;
    border: 1px solid var(--border-grey);
    background-color: var(--background-white);
    z-index: 1;
}

.more button {
    font-size: 12px;
    background: var(--background-white);
    padding: 4px 8px;
}

.more button:hover {
    transition: filter 100ms;
    filter: brightness(0.9);
}

.more :nth-child(2) {
    border-top: 1px solid var(--border-grey);
}

.comment_recommend {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.comment_recommend button {
    padding: 0 8px;
    font-size: 12px;
    background-color: var(--background-white);
    border: 1px solid var(--border-grey);
    margin: 0 4px;
}
.comment_recommend button:hover {
    transition: filter 100ms;
    filter: brightness(0.9);
}

.comment_recommend button:active {
    filter: brightness(0.8);
}
.comment_recommend button span {
    margin-left: 4px;
    color: grey;
}
